@import "https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap";
@font-face {
  font-family: "AllRound Book";
  src: url("../fonts/AllRoundGothic-Book.ttf");
}
:root {
  --flex-theme: {
    border: 1px solid var(--theme-dark-blue);
    font-family: var(--theme-font-family);
    padding: var(--theme-wide-padding);
    background-color: var(--theme-light-blue);
  } ;
}

body {
  font-family: "Lexend", sans-serif;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.small-container {
  max-width: 1032px;
  margin: 0 auto;
}
@media (max-width: 1600px) {
  .small-container {
    max-width: 800px;
  }
}
@media (max-width: 1000px) {
  .small-container {
    max-width: 100%;
    padding: 0 74px;
  }
}
@media (max-width: 900px) {
  .small-container {
    padding: 0 25px;
  }
}

section {
  background-color: #ffbb3d;
}

.sub-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  color: #ffbb3d;
  text-transform: uppercase;
  padding: 3px 20px;
  font-weight: 500;
  height: 33px;
  margin-top: 10px;
  border-radius: 17px;
  font-size: 20px;
}
@media (max-width: 1600px) {
  .sub-btn {
    font-size: 15px;
    height: 30px;
  }
}

header .header.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 98px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 95.9px;
  margin: 0 auto;
  z-index: 3;
}
@media (max-width: 1600px) {
  header .header.container {
    top: 65px;
  }
}
@media (max-width: 900px) {
  header .header.container {
    padding-right: 53.5px;
  }
}
@media (max-width: 400px) {
  header .header.container {
    padding: 0 25px;
  }
}
header .logo {
  max-width: 190px;
}
@media (max-width: 1600px) {
  header .logo {
    max-width: 150px;
  }
}

nav .nav-wrapper {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: fixed;
  top: -9000px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  padding: 207px 237px;
  z-index: 5;
  min-height: 100vh;
  overflow-y: scroll;
}
@media (max-width: 1200px) {
  nav .nav-wrapper {
    padding: 100px;
  }
}
nav .nav-wrapper .nav-links .link a {
  display: block;
  font-weight: bold;
  font-size: 2.813em;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 16px 0;
}
nav .nav-wrapper .nav-links .link a::hover {
  color: #ffbb3d;
}
@media (max-width: 900px) {
  nav .nav-wrapper .nav-links .link a {
    font-size: 1.5rem;
  }
}

.nav-wrapper.open {
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.humburger {
  height: 57px;
  width: 57px;
  left: 181px;
  top: 0px;
  cursor: pointer;
  position: relative;
}
@media (max-width: 1600px) {
  .humburger {
    left: 144px;
    height: 40px;
    width: 40px;
  }
}
@media (max-width: 1160px) {
  .humburger {
    left: 74px;
  }
}
@media (max-width: 650px) {
  .humburger {
    left: 25px;
  }
}
@media (max-width: 400px) {
  .humburger {
    left: 0;
  }
}
.humburger .l1 {
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  height: 6px;
  width: 57px;
  background-color: #ffbb3d;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  top: 0;
}
@media (max-width: 1600px) {
  .humburger .l1 {
    width: 47px;
    height: 5px;
  }
}
.humburger .l2 {
  position: absolute;
  display: block;
  margin: auto;
  top: 12px;
  left: 0;
  height: 6px;
  width: 57px;
  background-color: #ffbb3d;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media (max-width: 1600px) {
  .humburger .l2 {
    width: 47px;
    height: 5px;
    top: 10px;
  }
}
.humburger .l3 {
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  height: 6px;
  width: 57px;
  background-color: #ffbb3d;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  top: 24px;
}
@media (max-width: 1600px) {
  .humburger .l3 {
    width: 47px;
    height: 5px;
    top: 20px;
  }
}

.humburger.close {
  position: absolute !important;
  top: 60px;
  right: 87px;
  left: auto;
  z-index: 999 !important;
  width: 36px;
}
@media (max-width: 600px) {
  .humburger.close img {
    width: 57px;
  }
}

.main {
  position: relative;
  background-image: url("../assets/img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 251.2px;
  max-height: 1257px;
}
@media (max-width: 1600px) {
  .main {
    padding-top: 200px;
  }
}
@media (max-width: 900px) {
  .main {
    padding-top: 125px;
  }
}
.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}
.main::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100%;
  background: url("../assets/img/on.png");
  background-repeat: no-repeat;
  background-position: 0% 96.5%;
}
@media (max-width: 1600px) {
  .main::after {
    background-size: 64vw;
    background-position: 0px 40%;
  }
}
@media (max-width: 1240px) {
  .main::after {
    width: 50vw;
    background-size: 50vw;
    background-position: 77px 50%;
  }
}
@media (max-width: 1000px) {
  .main::after {
    background-position: 39px 90%;
  }
}
@media (max-width: 900px) {
  .main::after {
    background: url("../assets/img/on-mobile.png");
    background-position: 0% 100%;
    background-size: 57vw;
    background-repeat: no-repeat;
  }
}
.main .main-section_text {
  position: relative;
  padding-left: 238px;
  z-index: 2;
}
@media (max-width: 1600px) {
  .main .main-section_text {
    padding-left: 190px;
  }
}
@media (max-width: 1160px) {
  .main .main-section_text {
    padding-left: 74px;
  }
}
@media (max-width: 650px) {
  .main .main-section_text {
    padding: 25px;
  }
}
.main .main-section_text .main_title {
  width: 100%;
}
.main .main-section_text .main_title .white {
  color: #fff;
}
.main .main-section_text .main_title h1 {
  max-width: 608.8px;
  font-size: 63px;
  text-transform: uppercase;
  font-family: "AllRound Book";
  font-weight: normal;
  position: relative;
}
@media (max-width: 1600px) {
  .main .main-section_text .main_title h1 {
    font-size: 3.2em;
    max-width: 557.8px;
    line-height: 50px;
  }
}
@media (max-width: 900px) {
  .main .main-section_text .main_title h1 {
    font-size: 39px;
    max-width: 400px;
    line-height: 40px;
  }
}
.main .main-section_text .main_title h1 .dot {
  bottom: 13.4px;
  position: absolute;
  border-radius: 50%;
  height: 19.5px;
  width: 19.5px;
  background-color: #fff;
}
@media (max-width: 1600px) {
  .main .main-section_text .main_title h1 .dot {
    bottom: 5px;
    height: 14px;
    width: 14px;
  }
}
.main .main-section_text .main_title .subtitle {
  font-weight: bold;
}
@media (max-width: 900px) {
  .main .main-section_text .main_title .subtitle {
    margin-top: 13.6px;
  }
}
.main .main-section_text .main_title p {
  max-width: 661px;
  padding-left: 8.3px;
  font-size: 24px;
  line-height: 30px;
  line-height: 1.25;
  font-weight: normal;
}
@media (max-width: 1600px) {
  .main .main-section_text .main_title p {
    max-width: 521px;
    font-size: 19px;
  }
}
@media (max-width: 900px) {
  .main .main-section_text .main_title p {
    max-width: 441px;
  }
}
.main .main-section_text .main_title .btn-wrapper {
  margin-top: 9px;
}
.main .main-section_text .main_title .btn-wrapper .main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 207px;
  width: 100%;
  text-align: center;
  height: 40px;
  text-transform: uppercase;
  border-radius: 33px;
  font-weight: 800;
  font-size: 23px;
  border: 1px solid transparent;
  background-color: #ffbb3d;
  cursor: pointer;
}
@media (max-width: 1600px) {
  .main .main-section_text .main_title .btn-wrapper .main-btn {
    font-size: 18px;
    height: 34px;
    max-width: 173px;
  }
}
.main .scrl-btn-wrapper {
  position: absolute;
  left: 50%;
  top: 36%;
  width: 103px;
  height: 174px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 66px;
  background-color: #000;
  padding: 24px 13px 17px;
  z-index: 3;
}
@media (max-width: 1600px) {
  .main .scrl-btn-wrapper {
    padding: 22px 12px 17px;
    width: 83px;
    height: 134px;
  }
}
@media (max-width: 900px) {
  .main .scrl-btn-wrapper {
    display: none;
  }
}
.main .scrl-btn-wrapper .scrl-text-wrapper p {
  color: #ffbb3d;
  font-family: "AllRound Book";
  font-size: 22px;
}
@media (max-width: 1600px) {
  .main .scrl-btn-wrapper .scrl-text-wrapper p {
    font-size: 18px;
    line-height: 16px;
  }
}
.main .scrl-btn-wrapper .scrl-arrow-wrapper {
  margin-top: 7px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffbb3d;
}
@media (max-width: 1600px) {
  .main .scrl-btn-wrapper .scrl-arrow-wrapper {
    width: 60px;
    height: 60px;
  }
}
.main .scrl-btn-wrapper .scrl-arrow-wrapper img {
  width: 24.8px;
}
@media (max-width: 1600px) {
  .main .scrl-btn-wrapper .scrl-arrow-wrapper img {
    width: 18.4px;
  }
}
.main figure {
  position: relative;
  margin-top: 74.9px;
  z-index: 3;
}
@media (max-width: 1600px) {
  .main figure {
    margin-top: 82.9px;
  }
}

.jobs.primary-back {
  background: #ffbb3d;
  padding-top: 7.9px;
}
.jobs.primary-back .circles-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
}
@media (max-width: 900px) {
  .jobs.primary-back .circles-wrapper {
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
  }
}
@media (max-width: 600px) {
  .jobs.primary-back .circles-wrapper {
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
}
@media (max-width: 400px) {
  .jobs.primary-back .circles-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
}
@media (max-width: 400px) {
  .jobs.primary-back .circles-wrapper .circle-item .circle {
    margin: 0 auto !important;
  }
}
.jobs.primary-back .circles-wrapper .circle-item .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 11.615vw;
  height: 23.061vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: c;
      -ms-flex-align: c;
          align-items: c;
  border: 10px solid #000;
  border-radius: 50%;
}
@media (max-width: 1240px) {
  .jobs.primary-back .circles-wrapper .circle-item .circle {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 900px) {
  .jobs.primary-back .circles-wrapper .circle-item .circle {
    width: 130px;
    height: 130px;
  }
}
@media (max-width: 600px) {
  .jobs.primary-back .circles-wrapper .circle-item .circle {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 400px) {
  .jobs.primary-back .circles-wrapper .circle-item .circle .circle {
    margin: 0 auto !important;
  }
}
.jobs.primary-back .circles-wrapper .circle-item .circle .circle-text {
  font-size: 2em;
  font-weight: bold;
  max-width: 153px;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .jobs.primary-back .circles-wrapper .circle-item .circle .circle-text {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  .jobs.primary-back .circles-wrapper .circle-item .circle .circle-text {
    font-size: 16px;
    max-width: 50px;
  }
}
.jobs.primary-back .circles-wrapper .circle-item .circle-title {
  max-width: 110px;
  margin: 11px auto;
  text-align: center;
}