@-webkit-keyframes slide-over {
	from {
		opacity: 0;
	}
	to {
		opacity: 100%;
	}
}
#carousel {
	.animate {
		animation: animate 1s;
	}
	height: 450px;
	width: 900px;
	margin: 0px auto;
	position: relative;
	@media(max-width:850px){
		width: 650px;
	}
	@media(max-width:600px){
		width: 450px;
	}
	@media(max-width:500px){
		width: 377px;
	}
	@media(max-width:400px){
		width: 335px;
	}
    .button-container{
        position: absolute;
        bottom: 30.5px;
        right: -67px;
		@media(max-width:1600px){
			bottom: 110px;
			right: 104px;
		}
    }
	.slides {
		-webkit-animation: slide-over 1s;
		display: none;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		.slide-wrapper {
            display: flex;
            align-items: center;
            column-gap: 26px;
			height: 100%;
			width: 100%;
			@media(max-width:650px){
				flex-direction: row-reverse;
			}
			@media(max-width:500px){
				flex-direction: column;
				column-gap: 30px;
			}
            .slide-text-wrapper{
                max-width: 600px;
				@media(max-width:850px){
					max-width: 348px;
				}
				@media(max-width:650px){
					max-width: 328px;
				}
                .slide-title{
                    font-size: 2.5em;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-bottom: 4px;
					@media(max-width:1600px){
						font-size: 2rem;
					}
					
                }
				
                p{
                    font-size: 24px;
					@media(max-width:1600px){
						font-size: 20px;
					}
					@media(max-width:400px){
						font-size: 18px;
					}
                }
               
            }
            .slide-img-wrapper{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                max-height:222px;
                max-width: 222px;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: #fff;
				@media(max-width:1600px){
					max-width:180px;
					max-height:180px;
				  }
				  @media(max-width:600px){
					max-width: 90px;
					max-height: 90px;
				  }
				  @media(max-width:500px){
					width: 116px;
					height: 116px !important;
					margin-bottom: 30px;
				  }
				  img{
					max-width: 70px;
				  }
            }
		}
	}
	.hero-nav {
		color: #000;
		cursor: pointer;
		font-size: 30px;
		padding: 10px;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		transition: ease-out 0.6s;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		&:hover {
			color: #fff;
			transition: ease-in 0.2s;
		}
	}
	.prev {
		left: -50px;
		@media(max-width:400px){
			left: -30px;
		}
	}
	.next {
		right: -50px;
		@media(max-width:400px){
			right: -3px;
		}
	}
}
.button-container {
	margin: 0px auto;
	text-align: center;
	@media(max-width:850px){
		display: none;
	}
	.hero-radio-button {
		border-radius: 50%;
        height: 62px;
        width: 62px;
		cursor: pointer;
		display: inline-block;
        background-color: #fff;
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: center;
		margin-right: 5px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		&:last-child {
			margin: 0;
		}
		@media(max-width:1600px){
			height: 50px;
			width: 50px;
			background-size: 30px;
		}
	}
    .hero-radio-button.diagnosis{
        background-image: url('../assets/icons/diagnosis.svg');
    }
    .hero-radio-button.phenomenon{
        background-image: url('../assets/icons/brain.svg');
    }
    .hero-radio-button.prescription{
        background-image: url('../assets/icons/prescription.svg');
    }
    .hero-radio-button.group{
        background-image: url('../assets/icons/ecosystem.svg');
    }
}
.radio-button {
	cursor: pointer;
	display: inline-block;
	height: 15px;
	width: 15px;
	.selected {
		height: 100%;
		width: 100%;
	}
	.unselected {
		height: 100%;
		width: 100%;
	}
}
.button {
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	border-radius: 7px;
	background: #007ad6;
	height: 41px;
	width: 100%;
	padding: 2px;
	position: relative;
	.glare {
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		-ms-border-radius: 7px;
		border-radius: 7px;
		background: #40a7f4;
		height: 20px;
		width: 100%;
	}
	.icon {
		border-left: 2px solid #83beea;
		height: 35px;
		width: 27px;
		position: absolute;
		top: 3px;
		right: 14px;
		img {
			margin: 4px 0 0 3px;
		}
	}
	.text {
		color: white;
		float: right;
		font-size: 15px;
		text-shadow: 0 0 2px black;
		text-transform: uppercase;
		position: absolute;
		margin: 0 auto;
		top: 15px;
		left: 12px;
	}
	.without-icon {
		left: 21.5%;
	}
}
