@import "https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap";
@font-face {
  font-family: "AllRound Book";
  src: url("../fonts/AllRoundGothic-Book.ttf");
}
$primary: #ffbb3d;
$secondary: #4b4b4b;
$b-color: #000;
$w-color: #fff;
$font-stack: "Lexend", sans-serif;
$AllRound: "AllRound Book";

:root {
  --flex-theme: {
    border: 1px solid var(--theme-dark-blue);
    font-family: var(--theme-font-family);
    padding: var(--theme-wide-padding);
    background-color: var(--theme-light-blue);
  }
}
body {
  font-family: $font-stack;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
.small-container {
  max-width: 1032px;
  margin: 0 auto;
  @media (max-width: 1600px) {
    max-width: 800px;
  }
  @media (max-width: 1000px) {
    max-width: 100%;
    padding: 0 74px;
  }
  @media(max-width:900px){
    padding:0 25px;
  }
}
section {
  background-color: $primary;
}
.sub-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $b-color;
  color: $primary;
  text-transform: uppercase;
  padding: 3px 20px;
  font-weight: 500;
  height: 33px;
  margin-top: 10px;
  border-radius: 17px;
  font-size: 20px;
  @media (max-width: 1600px) {
    font-size: 15px;
    height: 30px;
  }
}
header {
  .header.container {
    display: flex;
    position: absolute;
    top: 98px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    justify-content: space-between;
    padding-right: 95.9px;
    margin: 0 auto;
    z-index: 3;
    @media (max-width: 1600px) {
      top: 65px;
    }
    @media(max-width:900px){
      padding-right: 53.5px;
    }
    @media(max-width:400px){
      padding: 0 25px;
    }
  }
  .logo {
    max-width: 190px;
    @media (max-width: 1600px) {
      max-width: 150px;
    }
  }
}

// navigation
nav {
  .nav-wrapper {
    transition: 0.4s;
    position: fixed;
    top: -9000px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    padding: 207px 237px;
    z-index: 5;
    min-height: 100vh;
    overflow-y: scroll;
    @media(max-width:1200px){
      padding: 100px;
    }
    
    .nav-links {
      .link {
        a {
          display: block;
          font-weight: bold;
          font-size: 2.813em;
          color: $w-color;
          transition: 0.2s;
          margin: 16px 0;
          &::hover {
            color: $primary;
          }
          @media(max-width:900px){
      font-size: 1.5rem;
          }
        }
      }
    }
  }
}
.nav-wrapper.open {
  top: 0;
  transition: 0.3s;
}
// navigation  end
//   humburger btn
.humburger {
  height: 57px;
  width: 57px;
  left: 181px;
  top: 0px;
  @media (max-width: 1600px) {
    left: 144px;
    height: 40px;
    width: 40px;
  }
  @media (max-width: 1160px) {
    left: 74px;
  }
  @media(max-width:400px){
    left: 0;
  }
  cursor: pointer;
  position: relative;
  .l1 {
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    height: 6px;
    width: 57px;
    background-color: $primary;
    transition: all 0.2s ease-out;
    top: 0;
    @media (max-width: 1600px) {
      width: 47px;
      height: 5px;
    }
  }
  .l2 {
    position: absolute;
    display: block;
    margin: auto;
    top: 12px;
    left: 0;
    height: 6px;
    width: 57px;
    background-color: $primary;
    transition: all 0.2s ease-out;
    @media (max-width: 1600px) {
      width: 47px;
      height: 5px;
      top: 10px;
    }
    
  }
  .l3 {
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    height: 6px;
    width: 57px;
    background-color: $primary;
    transition: all 0.2s ease-out;
    top: 24px;
    @media (max-width: 1600px) {
      width: 47px;
      height: 5px;
      top: 20px;
    }
   
  }
}
.humburger.close {
  position: absolute !important;
  top: 60px;
  right: 87px;
  left: auto;
  z-index: 999 !important;
  width: 36px;
  img{
    @media(max-width:600px){
      width: 57px;
      
  }
  }
}
//   humburger btn end

// button
.main {
  position: relative;
  background-image: url("../assets/img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 251.2px;
  max-height: 1257px;
  @media (max-width: 1600px) {
    padding-top: 200px;
  }
  @media (max-width: 900px) {
    padding-top: 125px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    z-index: 0;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100%;
    background: url("../assets/img/on.png");
    background-repeat: no-repeat;
    background-position: 0% 96.5%;
    @media (max-width: 1600px) {
      background-size: 64vw;
      background-position: 0px 40%;
    }
    @media (max-width: 1240px) {
      width: 50vw;
      background-size: 50vw;
      background-position: 77px 50%;
    }
    @media (max-width: 1000px) {
      background-position: 39px 90%;
    }
    @media (max-width: 900px) {
      background: url("../assets/img/on-mobile.png");
      background-position: 0% 100%;
      background-size: 57vw;
      background-repeat: no-repeat;
    }
  }
  .main-section_text {
    position: relative;
    padding-left: 238px;
    z-index: 2;
    @media (max-width: 1600px) {
      padding-left: 190px;
    }
    @media (max-width: 1160px) {
      padding-left: 74px;
    }
    @media(max-width:400px){
      padding: 25px;
    }
    .main_title {
      width: 100%;
      .white {
        color: $w-color;
      }
      h1 {
        max-width: 608.8px;
        font-size: 63px;
        text-transform: uppercase;
        font-family: $AllRound;
        font-weight: normal;
        position: relative;
        @media (max-width: 1600px) {
          font-size: 3.2em;
          max-width: 557.8px;
          line-height: 50px;
        }
        @media (max-width: 900px) {
          font-size: 39px;
          max-width: 400px;
          line-height: 40px;
        }
        .dot {
          bottom: 13.4px;
          position: absolute;
          border-radius: 50%;
          height: 19.5px;
          width: 19.5px;
          background-color: #fff;
          @media (max-width: 1600px) {
            bottom: 5px;
            height: 14px;
            width: 14px;
          }
        }
      }
      .subtitle {
        font-weight: bold;
        @media (max-width: 900px) {
          margin-top: 13.6px;
        }
      }
      p {
        max-width: 661px;
        padding-left: 8.3px;
        font-size: 24px;
        @media (max-width: 1600px) {
          max-width: 521px;
          font-size: 19px;
        }
        @media (max-width: 900px) {
          max-width: 441px;
        }
        line-height: 30px;
        line-height: 1.25;
        font-weight: normal;
      }
      .btn-wrapper {
        margin-top: 9px;
        .main-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 207px;
          width: 100%;
          text-align: center;
          height: 40px;
          text-transform: uppercase;
          border-radius: 33px;
          font-weight: 800;
          font-size: 23px;
          border: 1px solid transparent;
          background-color: $primary;
          cursor: pointer;
          @media (max-width: 1600px) {
            font-size: 18px;
            height: 34px;
            max-width: 173px;
          }
        }
      }
    }
  }
  .scrl-btn-wrapper {
    position: absolute;
    left: 50%;
    top: 36%;
    width: 103px;
    height: 174px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 66px;
    background-color: $b-color;
    padding: 24px 13px 17px;
    z-index: 3;
    @media (max-width: 1600px) {
      padding: 22px 12px 17px;
      width: 83px;
      height: 134px;
    }
    @media(max-width:900px){
      display: none;
    }
    .scrl-text-wrapper {
      p {
        color: $primary;
        font-family: $AllRound;
        font-size: 22px;
        @media (max-width: 1600px) {
          font-size: 18px;
          line-height: 16px;
        }
      }
    }
    .scrl-arrow-wrapper {
      margin-top: 7px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      background-color: $primary;
      @media (max-width: 1600px) {
        width: 60px;
        height: 60px;
      }
      img {
        width: 24.8px;
        @media (max-width: 1600px) {
          width: 18.4px;
        }
      }
    }
  }
  figure {
    position: relative;
    margin-top: 74.9px;
    z-index: 3;
    @media (max-width: 1600px) {
      margin-top: 82.9px;
    }
  }
}

// second section
.jobs.primary-back {
  background: $primary;
  padding-top: 7.9px;
  .circles-wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 48px;
    @media (max-width: 900px) {
      column-gap: 24px;
    }
    @media(max-width:600px){
      column-gap: 0;
    }
    @media(max-width:400px){
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
    }
    .circle-item {
      .circle{
        @media(max-width:400px){
          margin: 0 auto !important;
        }
      }
      .circle {
        display: flex;
        width: 11.615vw;
        height: 23.061vh;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: c;
        border: 10px solid #000;
        border-radius: 50%;

        @media (max-width: 1240px) {
          width: 150px;
          height: 150px;
        }
        @media (max-width: 900px) {
          width: 130px;
          height: 130px;
        }
        @media(max-width: 600px){
          width: 90px;
          height: 90px;
          
        }
        .circle{
          @media(max-width:400px){
            margin: 0 auto !important;
          }
        }
        
        .circle-text {
          font-size: 2em;
          font-weight: bold;
          max-width: 153px;
          margin: 0 auto;
          @media (max-width: 900px) {
            font-size: 1.5rem;
          }
          @media(max-width:600px){
            font-size: 16px;
            max-width: 50px;
          }
        }
      }
      .circle-title {
        max-width: 110px;
        margin: 11px auto;
        text-align: center;
      }
    }
  }
}
// second section end
